<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}-Mr. C</title>

    <link rel="stylesheet" href="{{site.url}}/static/css/styles-min.css">
    <link rel="stylesheet" href="{{site.url}}/static/css/pygment_trac-min.css">
    <script src="{{site.url}}/static/js/scale.fix-min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="{{page.keys}};{{page.tags}}">
    <meta name="revisit-after" content="7 days">
    <!--[if lt IE 9]>
    <script src="{{site.url}}/static/js/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1 class="header"><a href="{{site.url}}/index.html" class="nounderline">Mr. C</a></h1>
        <p class="header">int main = 0;(Ooo0ps?)</p>

        <ul>
          <li><a class="buttons github" href="https://github.com/oopschen">GitHub主页</a></li>
          <li><a class="buttons github" href="{{site.url}}/about.html">博主</a></li>
          <li><a class="buttons github" href="{{site.url}}/archive.html">存档</a></li>
        </ul>
      </header>
